.mb_slider{
  position:relative;
  padding:10px;
  z-index:0;
  font-family:Arial, Helvetica, sans-serif;
}

.mb_sliderBar{
  background-color:#fafafa;
  height: 20px;
  width:500px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 0 1px;
  border-radius: 4px;
  cursor:default;

}

.mb_sliderHandler{
  padding: 0 9px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.11) 1px 1px 4px 1px;
  cursor: default;
  height: 100%;
}

.mb_sliderEnd, .mb_sliderStart, .mb_sliderValue{
  padding:7px;
  position:relative;
  text-align:right;
  top:-5px;
  margin:3px;
  min-width: 50px;
  color:#AAA;
  white-space: nowrap;
  cursor:default;
}

.mb_sliderStart{
  text-align: right;
}

.mb_sliderEnd{
  text-align: left;
}

.mb_sliderRange{
  position:absolute;
  height:100%;
  margin:0;
  top:0;
  background: #ffcc00;
  border-radius: 4px 0 0 4px ;
  cursor:default;
}

.mb_sliderZero{
  background-color: #fafafa;
  position:absolute;
  height:100%;
  margin:0;
  top:0;
  border-radius:4px 0 0 4px  ;
  cursor:default;
}

.mb_sliderZeroLabel{
  font: 12px/12px Arial, sans-serif;
  color: #AAA;
  padding: 5px;
  background-color: #fff;
  margin-left: -4px;
  z-index: -2;
  border-radius: 4px;
  margin-top: -5px;
}

.mb_sliderValueLabel{
  font:14px/12px Arial, sans-serif;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);

  margin-left:0;
  z-index:-1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: -10px;
  white-space: nowrap;
}
